<header>
    <nav id="nav-bar" class="nav-bar">
        <p class="search-bar">
            <form 
            class="search-bar" 
            action="/posts/search"
            method="GET"
            enctype="application/x-www-form-urlencoded">
            <input 
            id="search-text" 
            class="search-text" 
            name="searchValue" 
            type="text" />
            <button 
            type="submit" 
            class="search-button fas fa-search">Go</button>
            </form>
        </p>
        <a href="/">Index</a>
        <a href="/postvideo">Post</a>

        {{#if isLoggedIn}}
        {{> userDropdown}}
        {{else}}
        <a href="/registration">Registration</a>
        <a href="/login">Login</a>
        {{/if}}
    </nav>
</header>