<!DOCTYPE html>
<html lang="en">
<main>
  <center>
    <form 
    class="profile"
    action='/users/profile'>
    <h3>Profile</h3>
    <li><a>Username: AlexHoff</li></a>
    <li><a>User Email: alexhoff2@mail.sfsu.edu</li></a>
    <li><a>Number of posts user has created</a></li>
    </form>
  </center>
</main>
</body>

</html>